---
import { homepage } from "../../../public/data/data.json";
import Services from "./services";
const { servicesSection } = homepage;
---

<section class="py-8 bg-white">
  <div class="container mx-auto">
    <h2 class="text-5xl text-gray-700 font-bold text-center mb-4">
      {servicesSection.title}
    </h2>
    <p class="text-gray-700 text-lg text-center mb-8">
      {servicesSection.description}
    </p>
    <Services services={servicesSection.services} client:load />
  </div>
</section>
