---
import { homepage } from "../../../public/data/english.json";
import SectionsPadding from "../body/SectionsPadding.astro";

import { ButtonCTA } from "../button/button";
// import Title from "../text/title.astro";
import ApproachSectionBody from "./text";

const approachSection = homepage.approachSection;
---

<section class="py-8 bg-gray-50" id="my-approach">
  <SectionsPadding>
    <div class="flex flex-col items-center justify-center">
      <!-- <Title>
      {approachSection.title}
    </Title> -->
      <ApproachSectionBody
        description={approachSection.description}
        client:load
      />
      <ButtonCTA label={approachSection.cta} />
    </div>
  </SectionsPadding>
</section>
