---
import { homepage } from "../../public/data/data.json";
const { callToActionSection } = homepage;
---

<section class="py-12 bg-blue-200">
  <div class="container mx-auto text-center">
    <p class="text-xl text-gray-700 mb-4">{callToActionSection.description}</p>
    <a
      href={callToActionSection.button.link}
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded"
    >
      {callToActionSection.button.label}
    </a>
  </div>
</section>
