---
import { homepage } from "../../public/data/data.json";
const { roiSection } = homepage;
---

<section class="bg-green-100 py-8">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-4">{roiSection.title}</h2>
    <a
      href={roiSection.button.link}
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
    >
      {roiSection.button.label}
    </a>
  </div>
</section>
