---
import { homepage, myJourneySection } from "../../../public/data/data.json";
import MyJourney from "./about_section_data";
const { aboutSection } = homepage;
---

<section class="py-8 bg-gray-50 h-screen">
  <div
    class="container mx-auto flex items-center justify-center flex-col md:flex-row"
  >
    <img
      src={aboutSection.imageUrl}
      alt={aboutSection.title}
      class="w-xl rounded-3xl mr-8 mb-4 md:mb-0"
    />
    <MyJourney client:load myJourneySection={myJourneySection} />
  </div>
</section>
