---
import data from "@/public/data/english.json";
import SectionsPadding from "../components/body/SectionsPadding.astro";
import AnimatedTitle from "../components/text/animatedTitle";

const { myJourney } = data.homepage;
---

<section
  id="my-journey"
  class="relative h-screen flex items-center justify-start bg-cover bg-center"
>
  <SectionsPadding>
    <AnimatedTitle title={myJourney.title} client:load />
  </SectionsPadding>
</section>
