---
import { homepage } from "@/public/data/english.json";
import Services from "@/src/components/services/services";
import SectionsPadding from "../components/body/SectionsPadding.astro";
import AnimatedTitle from "../components/text/animatedTitle";

const { servicesSection } = homepage;
---

<section id="services" class="py-8 bg-white">
  <SectionsPadding>
    <!-- Add horizontal margin on mobile -->
    <AnimatedTitle title={servicesSection.title} client:load />
    <p class="text-gray-700 text-lg text-center mb-8">
      {servicesSection.description}
    </p>

    <Services services={servicesSection.services} client:load />
  </SectionsPadding>
</section>
