---
import { homepage } from "@/public/data/english.json";
import SectionsPadding from "../components/body/SectionsPadding.astro";

const { workedWith } = homepage;
---

<section id="work" class="py-12 bg-gray-50">
  <!-- <Title>
      {workedWith.title}
    </Title>
    <p class="text-gray-700 text-lg text-center mb-8">
      {workedWith.description}
    </p> -->
  <SectionsPadding>
    {/* Responsive Company Logos */}
    <div class="scrollbar-hide">
      <div
        class="flex items-center justify-start md:justify-center space-x-4 md:space-x-8 py-6"
      >
        {
          workedWith.companies.map((company, index) => (
            <div id={index.toString()} class="company-item">
              <img
                src={company.image}
                alt={`Logo of ${company.name || "Company"}`}
                class="h-16 md:h-24 w-auto object-contain grayscale-50 hover:grayscale-0 transition-all duration-300 hover:scale-110 rounded-lg"
              />
            </div>
          ))
        }
      </div>
    </div>
  </SectionsPadding>
</section>

<style>
  .company-item:hover img {
    transform: scale(1.1);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
